<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMatematico"
        tools:targetApi="31">

        <activity
            android:name=".PG"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>

        <activity
            android:name=".Vpg"
            android:exported="false"
            android:label="Videos PG"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PG" />
        </activity>

        <activity
            android:name=".MaterialApoioPG"
            android:exported="false"
            android:label="Material"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PG" />
        </activity>

        <activity
            android:name=".PA"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>

        <activity
            android:name=".Vpa"
            android:exported="false"
            android:label="Videos"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PA" />
        </activity>

        <activity
            android:name=".MaterialApoioPA"
            android:exported="false"
            android:label="Material"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PA" />
        </activity>

        <activity
            android:name=".Proporcao"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".Vproporcao"
            android:exported="false"
            android:label="Videos sobre proporcao">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Proporcao" />
        </activity>
        <activity
            android:name=".MaterialApoioProporcao"
            android:exported="false"
            android:label="@string/label_pdf_proporcao">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Proporcao" />
        </activity>
        <activity
            android:name=".Porcentagem"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".Vporcentagem"
            android:exported="false"
            android:label="Videos sobre porcentagem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Porcentagem" />
        </activity>
        <activity
            android:name=".MaterialApoioPorcentagem"
            android:exported="false"
            android:label="@string/label_pdf_porcentagem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Porcentagem" />
        </activity>
        <activity
            android:name=".Menu"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SenoCossenoTangente"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".VsenoCossenoTangente"
            android:exported="false"
            android:label="Videos sobre seno cosseno tangente">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SenoCossenoTangente" />
        </activity>
        <activity
            android:name=".MaterialApoioSenoCossenoTangente"
            android:exported="false"
            android:label="Material seno cosseno tangente">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SenoCossenoTangente" />
        </activity>
        <activity
            android:name=".PerimetroQuadrado"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".MaterialApoioPerimetroQuadrado"
            android:exported="false"
            android:label="Material perimetro quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PerimetroQuadrado" />
        </activity>
        <activity
            android:name=".VperimetroQuadrado"
            android:exported="false"
            android:label="Videos sobre perimetro do quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PerimetroQuadrado" />
        </activity>
        <activity
            android:name=".VareaQuadrado"
            android:exported="false"
            android:label="@string/label_video_area_quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Aquadrado" />
        </activity>
        <activity
            android:name=".Aquadrado"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".MaterialApoioAreaQuadrado"
            android:exported="false"
            android:label="@string/label_pdf_area_quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Aquadrado" />
        </activity>
        <activity
            android:name=".Pitagoras"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Menu" />
        </activity>
        <activity
            android:name=".Vpitagoras"
            android:exported="false"
            android:label="@string/label_video_pitagoras">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pitagoras" />
        </activity>
        <activity
            android:name=".MaterialApoioPitagoras"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Pitagoras" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>