<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppMatematico"
        tools:targetApi="31">

        <activity
            android:name=".Model.PG"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>

        <activity
            android:name=".Model.Vpg"
            android:exported="false"
            android:label="Videos PG"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.PG" />
        </activity>

        <activity
            android:name=".Model.MaterialApoioPG"
            android:exported="false"
            android:label="Material"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.PG" />
        </activity>

        <activity
            android:name=".Model.PA"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>

        <activity
            android:name=".Model.Vpa"
            android:exported="false"
            android:label="Videos"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.PA" />
        </activity>

        <activity
            android:name=".Model.MaterialApoioPA"
            android:exported="false"
            android:label="Material"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.PA" />
        </activity>

        <activity
            android:name=".Model.Proporcao"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>
        <activity
            android:name=".Model.Vproporcao"
            android:exported="false"
            android:label="Videos sobre proporcao">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Proporcao" />
        </activity>
        <activity
            android:name=".Model.MaterialApoioProporcao"
            android:exported="false"
            android:label="@string/label_pdf_proporcao">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Proporcao" />
        </activity>
        <activity
            android:name=".Model.Porcentagem"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>
        <activity
            android:name=".Model.Vporcentagem"
            android:exported="false"
            android:label="Videos sobre porcentagem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Porcentagem" />
        </activity>
        <activity
            android:name=".Model.MaterialApoioPorcentagem"
            android:exported="false"
            android:label="@string/label_pdf_porcentagem">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Porcentagem" />
        </activity>
        <activity
            android:name=".View.Menu"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Model.SenoCossenoTangente"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>
        <activity
            android:name=".Model.VsenoCossenoTangente"
            android:exported="false"
            android:label="Videos sobre seno cosseno tangente">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.SenoCossenoTangente" />
        </activity>
        <activity
            android:name=".Model.MaterialApoioSenoCossenoTangente"
            android:exported="false"
            android:label="Material seno cosseno tangente">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.SenoCossenoTangente" />
        </activity>
        <activity
            android:name=".Model.PerimetroQuadrado"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>
        <activity
            android:name=".Model.MaterialApoioPerimetroQuadrado"
            android:exported="false"
            android:label="Material perimetro quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.PerimetroQuadrado" />
        </activity>
        <activity
            android:name=".Model.VperimetroQuadrado"
            android:exported="false"
            android:label="Videos sobre perimetro do quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.PerimetroQuadrado" />
        </activity>
        <activity
            android:name=".Model.VareaQuadrado"
            android:exported="false"
            android:label="@string/label_video_area_quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Aquadrado" />
        </activity>
        <activity
            android:name=".Model.Aquadrado"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>
        <activity
            android:name=".Model.MaterialApoioAreaQuadrado"
            android:exported="false"
            android:label="@string/label_pdf_area_quadrado">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Aquadrado" />
        </activity>
        <activity
            android:name=".Model.Pitagoras"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Menu" />
        </activity>
        <activity
            android:name=".Model.Vpitagoras"
            android:exported="false"
            android:label="@string/label_video_pitagoras">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Pitagoras" />
        </activity>
        <activity
            android:name=".Model.MaterialApoioPitagoras"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Model.Pitagoras" />
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="WrongManifestParent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>